.home-container{
    width: 100vw;
    height: 100vh;
}

.home-container__paraph{
    color : var(--base-color-two);
    text-align: center;
    width: 50vw;
    position: absolute;
    left: 25vw;
    top: 35vh;
    font-size: 4vw;
}

.home-container__backimg{
    background-size: contain;
    background-image: url("../../..//public//images/Empanadas/1.webp");
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--base-font-2);
    opacity: .5;
    width: 100vw;
    height: 100vh;
    filter: blur(5px);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition : filter .5s;
}



.home-container__backimg:hover{
    filter: blur(0);
}