.home-container{
    width: 100vw;
    height: 100vh;
}

.home-container *{
    transition : filter .5s;
}


.home-container__paraph{
    text-align: center;
    width: 50vw;
    position: absolute;
    left: 25vw;
    top: 35vh;
    font-size: 4vw;
}

.home-container__backimg{
    background-size: contain;
    background-image: url("../../..//public//images/Empanadas/1.jpg");
    position: absolute;
    opacity: .5;
    width: 100vw;
    height: 100vh;
    filter: blur(5px);
}



.home-container__backimg:hover{
    filter: blur(0);
}