.client__logo{
    width: 20vw;
    height: 20vh;
    object-fit: contain;
    cursor : grab;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--base-font-2);
    transition: filter .5s, transform .5s ;
}

.client__logo:hover{
    filter: drop-shadow(1px 1px 3px #333);
    transform: scale(1.2,1.2);
}

.client-ref{
    color : #000;
    text-decoration: none;
}