.client__logo{
    width: 20vw;
    height: 20vh;
    object-fit: contain;
    cursor : grab;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--base-font-2);
    transition: filter .5s, margin .5s ;
}

.client__logo:hover{
    filter: drop-shadow(0px 0px 10px var(--base-color-two));
    margin-left : 2vw;
}

.client-ref{
    color : #000;
    text-decoration: none;
}