.toplogo-container{
    width: 100vw;
    height: 20vh;
    position: fixed;
    z-index: 9;
    top:0vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition : background-color .2s;
}

.toplogo-container__img{
    margin-top: 4vh;
    margin-bottom: 4vh;
    height: 100%;
    width: 70%;
    object-fit: contain;
    opacity: 1;
    align-self: center;
}
