.toplogo-container{
    --bottom-border-radius : 10%;
    width: 100vw;
    height: 20vh;
    position: fixed;
    z-index: 9;
    top:0vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition : top .5s;
    border-bottom-left-radius: var(--bottom-border-radius);
    border-bottom-right-radius: var(--bottom-border-radius);

}

.toplogo-container__img{
    margin-top: 4vh;
    margin-bottom: 4vh;
    height: 100%;
    width: 70%;
    object-fit: contain;
    opacity: 1;
    align-self: center;
}


.toplogo-container__ACTIVATED{

}