.menu-container{
    position : fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 9;
    width: 100vw;
    justify-content: space-between;
    background-color: #555;
    padding: 2vh;
}

.menu-container__options-container{
    display: flex;
    justify-content: space-around;
}


.menu-item{
    text-decoration: none;
    color : #fff;
    transition : transform .5s;
}
.menu-item:hover{
    transform: scale(1.2,1.2);
}