
.product-item{
    --margin : 10vh;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.product-item__img{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--base-font-2);
    object-fit: contain;
    width: 50%;
    height: 50%;
    user-select: none;
    filter: drop-shadow(0px 0px 10px #000);
    transition: opacity .5s;
}


.product-item__backimg{    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--base-font-2);
    z-index: -9;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition : opacity .5s;
}



.product-item__content{
    font-size: calc(var(--base-font-size) - 1vw);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 20%;
    transition: opacity .5s;
    color : #fff;
    text-shadow : 2px 2px 2px #000;
}


.t2{
    flex-flow: row-reverse;
}




