
.product-item{
    --content-margin : 10vw;
    --border : 2px solid var(--base-color-one);
    --animation-timer : .5s;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.product-item__img{
    opacity: 0;
    position: relative;
    object-fit: contain;
    display: flex;
    width: 50%;
    height: 50%;
    user-select: none;
    filter: drop-shadow(0px 0px 10px #000);
    border-radius: 20px;
    opacity: 0;
    transition: opacity .5s, transform .5s;
}


.product-item__backimg{
    z-index: -9;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition : opacity .5s;
}

.product-item__backimg:hover{
    opacity: 1;
}


.product-item__name{
    display: flex;
    text-align: center;
}


.product-item__paraph{
    text-align: center;
}
.product-item__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 20%;
    opacity: 0;
    transition: opacity .5s;
}


.t2{
    flex-flow: row-reverse;
}




.product-item__ACTIVATED > .product-item__img{
    opacity:1;
}

.product-item__ACTIVATED > .product-item__backimg{
    opacity:.5;
}
.product-item__ACTIVATED > .product-item__content{
    opacity: 1;
}