.product-item{
    --content-margin : 10vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}
.product-item__img{
    display: flex;
    width: 50%;
    height: 50%;
    user-select: none;
    filter: drop-shadow(0px 0px 10px #444);
    border-radius: 20px;
    transition: opacity .3s;
}
.product-item__backimg{
    opacity: 0;
}
/* .product-item:hover > .product-item__img-container {
    left: -100%;
} */

/* .product-item:hover > .product-item__img-container > .product-item__backimg{
    opacity: 1;
}

.product-item:hover > .product-item__img-container > .product-item__img{
    opacity: 0;
} */



.product-item__name{
    display: flex;
    text-align: center;
}


.product-item__paraph{
    text-align: center;
}
.product-item__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}


.t2{
    flex-flow: row-reverse;
}

