.product-item{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #eee;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    min-height: 100%;
    overflow: hidden;
    transition: transform .5s, margin .5s;
}
.product-item__img-container{
    width: 200%;
    position: relative;
    align-self: flex-start;
    height: auto;
    left: 0;
    display: flex;
}
.product-item__img,
.product-item__backimg{
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: opacity .3s;
}
.product-item__backimg{
    opacity: 0;
}
.product-item:hover > .product-item__img-container {
    left: -100%;
}

.product-item:hover > .product-item__img-container > .product-item__backimg{
    opacity: 1;
}

.product-item:hover > .product-item__img-container > .product-item__img{
    opacity: 0;
}



.product-item__name{
    display: flex;
    text-align: center;
}


.product-item__paraph{
    text-align: center;
}