.products-container{
    margin-top: 5vh;
    width: 80vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.products-container__products-list{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    cursor: grab;
    background-color: #0f0;
}

