.products-container{
    margin-top: 5vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #0f0;
    overflow: hidden;
}

.products-container__products-list{
    position: relative;
    left : 0vw;
    width: 200%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: grab;
}