.loader{
    --top-moving : 8%;
    --left-moving : 10%;
    --animation-timer : .5s;
    --animation-duration : 2s;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--base-font);
    font-size: 4vw;
}

.loader__DEACTIVATED{
    position: absolute;
    opacity: 0;
}
.loader__DEACTIVATED > .text-1{
    animation-name: none;
}

.text-1{
    transition : left var(--animation-timer), top var(--animation-timer);
    position: relative;
    left : 30vw;
}

.text-1{
    color : var(--base-color-one);
    margin-right: 20vw;
}

.text-1{
    animation-name: animationText1;
    animation-duration: var(--animation-duration);
    animation-iteration-count: infinite;
    
}


@keyframes animationText1{
    0%{
        top: 0;
        left : 10vw;
        opacity: 1;
    }
    45%{
        left : -20vw;
        opacity: 0;
    }
    50%{
        left : 10vw;
        opacity: 0;
    }
    55%{
        left : 50vw;
        opacity: 0;
    }
    100%{
        left : 10vw;
        top: 0;
        opacity: 1;
    }
}
