html{
  scroll-behavior: smooth;
}

body{
  --base-animation-timer : .5s;
  --normal-animation-timer : 1s;
  --background-color : rgb(255, 181, 181);
  --base-color-one : rgb(255, 83, 83);
  --base-color-two : rgb(47, 150, 0);
}
.main-container{
  position: relative;
  top: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: var(--background-color);
  scroll-snap-type: y proximity;
}

.main-container > div, header, footer{
  scroll-snap-align: start;
  outline: 1px solid #000;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
*{
  margin: 0;
  padding: 0;
}

.title{
  font-size: 3vw;
  transition : top .5s, left .5s;
}

@media (max-width : 900px){

}