@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');

@font-face {
  font-family: chicken;
  src: url("../public/fonts/CHICKEN\ Pie.otf");
}
@font-face {
  font-family: sparkle;
  src: url("../public/fonts/Sparkle.otf");
}

body{
  --base-font-size : 3vw;
  --base-font : "chicken";
  --base-font-2 : "sparkle";
  --base-color-one : #ed2127;
  --base-color-two : #2f9c54;
}

*{
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: var(--base-font);
}

.title{
  font-size: var(--base-font-size);
  color : var(--base-color-one)
}

.titlebar{
  background-color: var(--base-color-two);
  color: #fff;
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  font-family: var(--base-font);
  z-index: 9;
}

.alt-styles,
img{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--base-font-2);
}

.main-container{
  opacity: 0;
  position: absolute;
}

.main-container__ACTIVATED{
  opacity: 1;
  position: static;
}

body{
  overflow: hidden;
}

.body-loaded{
  overflow: auto;
}

@media (max-width : 900px) {
  body{
    --base-font-size : 5vw;
  }
  .titlebar{
    font-size: 7vw;
  }
  
}