@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  --base-font-2 : "Better Together";
  --base-font : "CHICKEN PIE";
  --base-animation-timer : .5s;
  --normal-animation-timer : 1s;
  --background-color : rgb(255, 181, 181);
  --base-color-one : #ed2127;
  --base-color-two : #2f9c54;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: var(--base-font);
}

.title{
  font-size: 3vw;
  transition : top .5s, left .5s;
  color : var(--base-color-one)
}

.titlebar{
  background-color: var(--base-color-two);
  color: #fff;
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  font-family: var(--base-font);
  z-index: 9;
}


.parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width : 900px){

}