.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title{
    font-size : 2.5vw;
}
.contact__items-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 2vw;
}
.contact-item{
    margin-top:1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon{
    object-fit: contain;
    width: 3vw;
    height: 3vh;
}

.ig-dir{
    text-decoration: none;
    color : #fff;
}

.contact{
    font-size: 1.5vw;
    margin-left: 1vw;
}