.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2vw;
}
.contact-container > *{
    margin-top:1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon{
    object-fit: contain;
    width: 3vw;
    height: 3vh;
}

.ig-dir{
    text-decoration: none;
    color : #000;
}

.contact{
    font-size: 1.5vw;
    margin-left: 1vw;
}