.contact-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2vw;
}
.contact-container > *{
    margin-top:1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.phone-number{
    display: flex;
    flex-direction: column;
}
.icon{
    object-fit: contain;
    width: 3vw;
    height: 3vh;
}

.ig-dir{
    text-decoration: none;
    color : #000;
}